{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <a href="javascript://">
            <img src="{{ asset('bundles/mophugbear/images/hugbear.png') }}" onclick="{{ collector.getObjname() }}.toggle(); return false;"/>
        </a>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
